@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  font-family: Assistant;
  box-sizing:border-box;

}


@keyframes mymove {
  from {background-color: white;}
  to {background-color: lightcyan;}
}
body {
  background: white;
  animation: mymove 6s infinite alternate;
  margin: 0;
  overflow-wrap:normal;
}
.logo{
  font-weight: 900;
  font-size: 3rem;
}

.form-control{
  display:flex;
  justify-content:center;
  flex-flow:column;
  align-items:center;
  height:100vh;
  gap:25px;
}
input{
  border:none;
  background: transparent;
  font-size:1.8rem;
  font-weight: 200;
  border-bottom: 4px solid black;
  text-align:center;
  width:30%;  
}

textarea{
  border:none;
  background: transparent;
  font-size:1.8rem;
  font-weight: 200;
  border-bottom: 4px solid black;
  text-align:center;
  width:30%;  
}
input:focus{
  outline: none;
}
textarea:focus
{
  outline:none
}

.form-submit-button
{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:white;
  padding:5px;
  width:30%;
  text-align: center;
  box-sizing: border-box;
}
.edit{
  display:flex;
  border:none;
  margin-top:25px;
  font-size: 1.2rem;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:white;
  padding:5px;
  width:30%;
  text-align: center;
  
}

.cv{
  display:flex;
  flex-flow: column;
  justify-content:center;
  align-items:center;
  height:100vh;
  padding:25px;
}
.text{
  font-size:2.8rem;
  font-weight: 700;
}
.tels{

    font-size:1rem;
    font-weight: 100;
    
}
.tel{
  margin-top:20px;
  font-size:1rem;
  font-weight: 100;
  
}
.phone{
  display: flex;
  align-items: center;
  justify-content: center;
}
.intros{
  text-align: center;
  font-size:1.6rem;
  font-weight: 700;
  margin-top: 15px;
}
.intro{
  text-align: center;
  font-size:1.2rem;
  font-weight: 100;
  }
  .tit{
    text-align: center;
    font-size:1.2rem;
    font-weight: 500;
  }
  .school{
    text-align: center;

    font-size:1rem;
    font-weight: 100;
  }
  .date{
    text-align: center;

    font-size:0.8rem;
    font-weight: 100;
  }
  .pos{
    text-align: center;
    font-size:1.1rem;
    font-weight: 300;
  }
  .job{
    margin-top:5px;
    text-align: center;

    font-size:1rem;
    font-weight: 100;
  }
@media screen and (max-width: 800px) {
  input{
    font-size:1.2rem;
    width:60%;
    padding:3px;
  }
  .form-submit-button
{
  width:60%;
}
textarea{
  width:60%;
  font-size:1.2rem;

} 
}